.pageActionMask{
    overflow: auto;
}

.pageActionContainer{
    display: flex;
    opacity: 0;
    transition: opacity 0.5s;
}

.pageActionContainerEnter{
    composes: pageActionContainer;
    opacity: 1;
}

.actionButton{
    display: flex;
    justify-content: center;
    border: none;
}

.dangerText{
    color: red;
}