
*.pyc
*.pyc
*.pyc
*.pyc
*.db
simple-note-2/back/djangogirls/djangogirlsVenv/pyvenv.cfg
simple-note-2/back/djangogirls/djangogirlsVenv/Lib
simple-note-2/back/djangogirls/djangogirlsVenv/Include
simple-note-2/back/djangogirls/djangogirlsVenv/Scripts
simple-note-2/back/djangogirls/djangogirlsVenv/.env
/simple-note-2/front/simple-note-2/node_modules
simple-note-2/back/djangogirls/djangogirlsVenv/myproject/db_modules/Common.py
._*