.button{
    top: calc(50% - 40px);
    z-index: 1000;
}

.notCollapsed{
    right: calc(-40px - 2px);
    position: absolute;
}

.collapsed{
    position: fixed;
}

.resizer{
    width: 3px;
    cursor: ew-resize;
}

.resizer:hover{
    transform: scaleX(2);
}