.toolBar{
    padding: 5px 0px;
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.notCollapsed{
    max-height: 50px;
    transition: max-height 0.2s linear;
}

.collapsed{
    max-height: 0;
    padding: 0;
    transition: max-height 0.2s linear;
}

.collapsedButton{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.collapsedButton:hover{
    filter: brightness(130%);
}