.nodePlaceholder:has(br):not(:has(span))::before {
    position: absolute;
    content: attr(data-placeholder);
    color: rgba(136, 136, 136, 0.6);
}

.placeholder{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}