.handle-button {
    cursor: grab;
    font-size: 2em;
    :active{
        cursor: grabbing;
    }
}

.draggable{
    position: absolute;
    :active{
        opacity: 0.3;
    }
}

.wrapper{
    position: relative;
}

.dropLine{
    border: 3px solid skyblue;
    width: 80%;
}

.addListItem{
    display: flex;
    width: 100%;
    justify-content: left;
    cursor: pointer;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
}

.addListItem:hover{
    background-color: rgba(0, 0, 0, 0.06);
}

.addListItemIcon{
    margin-right: 10px;
}

.addListItem:hover{
    filter: brightness(85%);
}