.handleButton {
    cursor: grab;
    /* font-size: 2em; */
}

.handleButton:active{
    cursor: grabbing;
}

.dropDown{
    max-height: 250px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
}

.wrapper{
    position: relative;
}

.draggable{
    position: absolute;
    top: 0;
    left: 0;
}

.draggable:active{
    opacity: 0.3;
}

.dropLine{
    position: absolute;
    border: 3px solid skyblue;
    top: 0;
    left: 0;
}
