.floatingLink {
    position: absolute;
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    top: 0;
    left: 0;
}