.resizeTopLeft{
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: nw-resize;
}

.resizeTop{
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: n-resize;
}

.resizeTopRight{
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: ne-resize;
}

.resizeBottomLeft{
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    cursor: sw-resize;
}

.resizeBottom{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: s-resize;
}

.resizeBottomRight{
    bottom: 0;
    right: 0;
    transform: translateX(50%);
    cursor: se-resize;
}

.resizeLeft{
    top: 50%;
    left: 0;
    cursor: w-resize;
    transform: translate(-75%, -50%);
}

.resizeRight{
    top: 50%;
    right: 0;
    cursor: e-resize;
    transform: translate(75%, -50%);
}

.handlePin{
    background-color: rgb(60,132,244);
    width: 7px;
    height: 7px;
    position: absolute;
    z-index: 1000;
}

.resizeContainer{
    position: relative;
    display: inline-block;
}