.commentLane,
.commentLaneHide {
    position: fixed;
    right: 0;
    bottom: 0;
    transition: transform 0.3s;
    will-change: transform;
    height: 70%;
    width: 250px;
    overflow-y: auto;
}

.commentLaneHide {
    transform: translateX(100%);
}

.commentInput {
    outline: none;
    min-height: 32px;
    border-radius: 3px;
}

.commentInput:focus {
    box-shadow: 0 0 0 3px skyblue;
}

.commentInputContainer {
    position: relative;
}

.commentButton {
    position: absolute;
    bottom: 0;
    right: 0;
}

.commentCloseButton {
    border: none;
    width: 32px;
    height: 32px;
    transform: translate(3px, 3px);
    background-color: inherit;
    border-radius: 3px;
    font-size: x-large;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.commentCloseButton:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.commentCloseButton:active {
    background-color: rgba(0, 0, 0, 0.06);
}