.sideBar{
    height: 100%;
    overflow: auto;
}

.button{
    box-shadow: none;
}

.collapsedButton{
    top: 0;
    left: 0;
    transform: translateX(-100%);
    position: absolute;
}

.collapsedButton-collapsing{
    top: 50%;
    transform: translateY(-100%);
    position: fixed;
    z-index: 1000;
}