.sideBar{
    height: 100%;
    overflow: auto;
    padding: 24px 12px;
}

.button{
    box-shadow: none;
}

.collapsedButton{
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    position: absolute;
}

.collapsedButton-collapsing{
    top: 50%;
    transform: translateY(-100%);
    position: fixed;
    z-index: 1000;
}