.sideBar{
    height: 100%;
    overflow: auto;
    padding: 24px 12px;
}

.button{
    top: calc(50% - 40px);
    z-index: 3000;
}

.notCollapsed{
    right: -40px;
    position: absolute;
}

.collapsed{
    position: fixed;
}