.simple-note-2-document{
    cursor: pointer;
    padding: 3px;
    border-radius: 8px;
    position: relative;
}

.simple-note-2-document:hover{
    background-color: rgba(0, 0, 0, 0.06);
    transition: background-color 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}