@import url("./code.css");
@import url("./column.css");
@import url("./table.css");
@import url("./document.css");
@import url("./image.css");
@import url("./list.css");

.simple-note-2-paragraph,
[class^="simple-note-2-heading-"] {
    position: relative;
    --placeholder-text: "輸入文字...";
    --placeholder-color: rgba(136, 136, 136, 0.6);
}

.simple-note-2-paragraph:has(br):not(:has(span))::before,
[class^="simple-note-2-heading-"]:has(br):not(:has(span))::before {
    position: absolute;
    content: var(--placeholder-text);
    color: var(--placeholder-color);
}

.simple-note-2-ltr {
    text-align: left;
}

.simple-note-2-rtl {
    text-align: right;
}

.simple-note-2-text-underline {
    text-decoration: underline;
}

.simple-note-2-text-bold {
    font-weight: bold;
}

.simple-note-2-text-italic {
    font-style: italic;
}

.simple-note-2-text-code {
    background-color: rgb(224, 224, 224, 0.4);
}

.simple-note-2-code {
    background-color: rgb(224, 224, 224, 0.4);
}

.simple-note-2-embedBlock {
    -webkit-user-select: none;
    user-select: none;
}

.simple-note-2-embedBlock-focus {
    outline: 2px solid skyblue;
}

.simple-note-2-block-math, .simple-note-2-inline-math{
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}