.imageEdit{
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.imageEdit:hover{
    filter: brightness(85%)
}

.imageEdit:active{
    filter: brightness(70%)
}